[Unit]
Description=FVWM and Chromium based kiosk
After=multi-user.target time-sync.target
Type=simple


[Service]
TimeoutStartSec=0
ExecStart=su - pi -c "/usr/bin/startkiosk"

[Install]
WantedBy=multi-user.target
