[Desktop Entry]
Comment=
Terminal=false
Name=Edit Startup Services
Exec=lxterminal -e sudo mousepad /etc/ember-autostart/99-defaults.ini
Type=Application
Icon=gnome-panel-launcher
Categories=System
