[Desktop Entry]
Comment=May take a minute to launch
Terminal=true
Name=Launch KaithemAutomation Daemon as Root
Exec=lxterminal -e sudo systemctl start kaithem
Type=Application
Icon=gnome-panel-launcher
Categories=Development;
