[Desktop Entry]
Comment=
Terminal=false
Name=Zigbee2MQTT Web UI
Exec=bash -c "systemctl start zigbee2mqtt && chromium-browser http://localhost:8003"
Type=Application
Icon=gnome-panel-launcher
Categories=Development
