[Unit]
Description=Allow configuration of systemd units via /sketch/config/autostart
After=systemd-remount-fs.service fs_bindings.service manage_sketch_folder.service
RequiresMountsFor=/etc/ /sketch/


[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/python3 /usr/bin/serviceconfig.py
Type=simple

[Install]
WantedBy=multi-user.target